# Binares
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled files
*.test
*.out

# Go folders
bin/
obj/

# Dependencies files
/vendor/
Gopkg.lock
Gopkg.toml
go.sum

# Modules
/go.mod
/go.sum

# IDE settings
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# .env file
.env
